# Laurie's Books Customer Deanonymizing
Here we join all the DataFrames developed thus far and export a sorted csv. This notebook will not run without the key csv that contains the customers names.

In [1]:
import numpy as np
import pandas as pd
import functools as ft

In [2]:
df = pd.read_csv('customers_for_clustering.csv')
key = pd.read_csv('customers_key.csv')
segment = pd.read_csv('lauries_general_segments.csv')
cluster = pd.read_csv('customer_clusters.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              889 non-null    int64
 1   days_since_last  889 non-null    float64
 2   transactions     889 non-null    int64
 3   total_spending   889 non-null    float64
 4   tenure           889 non-null    float64
dtypes: float64(3), int64(2)
memory usage: 34.9 KB

In [4]:
key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    889 non-null    object
 1   uid     889 non-null    int64
dtypes: int64(1), object(1)
memory usage: 14.0+ KB

In [5]:
segment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              889 non-null    int64
 1   general_segment  889 non-null    object
dtypes: int64(1), object(1)
memory usage: 14.0+ KB

In [6]:
cluster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   uid      889 non-null    int64
 1   cluster  889 non-null    int64
dtypes: int64(2)
memory usage: 14.0 KB

In [7]:
# Join all the data together 
dfs = [key, df, segment, cluster]
customers = ft.reduce(lambda left, right: pd.merge(left, right, on='uid'), dfs)

In [8]:
# Export a csv sorted on clusters and total spending
customers.sort_values(['cluster', 'total_spending'], ascending=[True, False]).to_csv('customer_segments_final.csv', index=False)